.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header-title, .link, .link-date {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.header-title {
  font-size: 40px;
  color: black;
  font-size: 34px;
  transition: font-size 0.3s ease;
}

.header-title:hover {
  animation: heartbeat 0.2s 1;
}

@keyframes heartbeat {
  0%, 100% {
    font-size: 34px;
  }
  50% {
    font-size: 36px;
  }
}

.link {
  padding: 8px;
  color: black;
  font-weight: 700;
  border: 2px solid red;
  margin: 10px;
  box-shadow: 3px 3px 0px 0px #ff0000;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover {
  background-color: red;
  color: white;
  box-shadow: 3px 3px 0px 0px #000000;
}

.link-date {
  padding: 8px;
  color: black;
  font-weight: 700;
  border: 2px solid #00b7ff;
  margin: 10px;
  box-shadow: 3px 3px 0px 0px #00b7ff;
  transition: background-color 0.3s, color 0.3s;
}

.link-date:hover {
  background-color: #00b7ff;
  color: white;
  box-shadow: 3px 3px 0px 0px #000000;
}

